body {
  background-image: url('http://pix10.agoda.net/hotelImages/254/254923/254923_15063010590031250252.jpg?s=1024x768');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: Verdana;
	font-size: 22px;
	color: white;
}
font-face {
   font-family: myFirstFont;
   src: url('sansation_light.woff');
}
#title {
  text-align: left;
  border-color: white;
	font-size: 100px;
	width: 100%;
  font-family: 'Alegreya SC';
  background-color: rgba(0, 0, 0, 0.5);
}
#roomOne {
  background-color: rgba(0, 0, 0, 0.5);
  width: 18%;
  height: 50%;
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  color: white;
  padding: 7px;
  float: left;
  margin: 7px;
}
#roomTwo {
  background-color: rgba(0, 0, 0, 0.5);
  width: 18%;
  height: 50%;
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  color: white;
  padding: 7px;
  float: left;
  margin: 7px;
}
#roomThree {
  background-color: rgba(0, 0, 0, 0.5);
  width: 17%;
  height: 50%;
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  color: white;
  padding: 7px;
  float: left;
  margin: 7px;

}
#roomFour {
  background-color: rgba(0, 0, 0, 0.5);
  width: 18%;
  height: 50%;
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  color: white;
  padding: 7px;
  float: left;
  margin: 7px;
}
#roomFive {
  background-color: rgba(0, 0, 0, 0.5);
  width: 18%;
  height: 50%;
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  color: white;
  padding: 7px;
  float: left;
  margin: 7px;

}
#x {
  display: block;
}
#y {
  display: block;
}
#z {
  display: block;
}
#a {
  display: block;
}
#b {
  display: block;
}
#roomOneRemove {
  display: block;
}
#roomTwoRemove {
  display: block;
}
#roomThreeRemove {
  display: block;
}
#roomFourRemove {
  display: block;
}
#roomFiveRemove {
  display: block;
}